/* Main colors for website (UTEP colors)*/
/*#colors {*/
/*    'midnight blue': #003366;*/
/*    'apricot': #EF820D;*/
/* }*/

:root {
    --primary: #3B8239;
    --secondary: #000022;
    --teritary: #61947E;
    --quaternary: #469B44;
}

.overlay {
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    font-size: x-small;
    padding: 20px;
    font-family: SmellaDaisy, sans-serif;
    text-align: left;
    max-width: 100%;
    color: var(--primary);
    border-style: solid;
    border-width: .14em;
    background-color: var(--secondary);
    border-radius: 12px;
}

.card {
    margin-top: 20px;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*This section is for buttons*/
.appButton {
    font-family: AlgoriaLight, sans-serif;
    color: var(--primary);
    background-color: var(--secondary);
    transition: .5s ease;
    margin-top: 30px;
    text-align: center;
}
.appButton:hover {
    background-color: var(--teritary);
    color: var(--secondary);
    border-radius: 24px;
}

/* Styling for the labels and inputs*/
.baseLabel {
    font-family: AlgoriaLight, sans-serif;
    font-size: 18px;
    padding: 1px 5px;
    color: var(--primary);
    border-style: solid;
    border-width: .14em;
    background-color: var(--secondary);
    margin-top: 10px;
    margin-bottom: 20px;
    width: max-content;
    text-align: center;
}
.baseLabel:default {
    color: var(--secondary);
    background-color: var(--primary);
}
.baseLabel::placeholder {
    color: var(--primary);
    opacity: 1;
}
.nameLabel {
    font-family: AlgoriaLight, sans-serif;
    font-size: 18px;
    padding: 1px 5px;
    color: var(--secondary);
    border-style: solid;
    border-width: .14em;
    background-color: var(--primary);
    border-radius: 12px;
}

/* Styling for the showPW switch*/
.switchStyle:checked {
    background-color: var(--primary);
}
.switchStyle:hover {
    transition: .5s ease;
}
.switchStyle:active {
    background-color: var(--secondary);
}

/* For card title texts */
h3 {
    font-family: AlgoriaLight, sans-serif;
}

/* Custom font for the page */
/* For every custom font, a separate '@font-face' is necessary */
@font-face {
    font-family: AlgoriaLight;
    src: url(../fonts/AlgoriaLight.ttf);
}
@font-face {
    font-family: SmellaDaisy;
    size-adjust: 150%;
    src: url(../fonts/SmellaDaisy.ttf);
}