<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
<!--    Icon for title tabs added -->
    <link rel="icon" href="./img/SalahBucks.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/baseStyle.css') }}">
    <title>Salah Bucks</title>
</head>

<body>

<div class="overlay">
    <div class="container">
        <header class="welcome mb-2 py-5 justify-content-center">
            <h1>Welcome to Salah Bucks!!!</h1>
        </header>
        <form id="loginForm" class="text-left" method= "POST" action="{{ url_for('login') }}" >
            <h5 class="baseLabel">Please login below </h5>
            <label for="email" class="col-sm-3 col-form-label nameLabel">Email:</label>
            <input id="email" name="email" class="baseLabel" type="email" placeholder="i.e. youremail@email.com" required>
            <label for="password" class="col-sm-3 col-form-label nameLabel">Password:</label>
            <input id="password" name="password" class="baseLabel" type="password" placeholder="i.e. PW1234" required>
            <button type="submit" class="btn appButton">Login</button>
        </form>
        <div class="signUpDiv">
            <a href="{{ url_for('sign_up') }}" class="signUpbutton" class="btn appButton">Sign Up</a>
        </div>
        <div class="table">
            <div id="expense">

            </div>
        </div>
    </div>
</div>

<!-- These two scripts are needed for Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/login.js') }}"></script> -->
</body>


</html>
