<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Add the necessary meta tags and links for your styles and libraries here -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
    <meta name="color-scheme" content="light dark">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleSignup.css') }}">

    <title>Sign Up - Salah Bucks</title>
</head>
<body>

<div class="overlay">
    <div class="container">
        <header class="welcome mb-2 py-5 justify-content-center">
            <h1>New to Salah Bucks?</h1>
        </header>
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="row justify-content-center align-items-center min-vh-100">
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <form class="text-left" method="POST" action="{{ url_for('sign_up') }}"> 
                                <!-- removed this action="./homePage.html#AccountCreated" -->
                                <h5 class="card-title baseLabel">Create an account </h5>
                                <div class="form-group row">
                                    <label for="signupEmail" class="col-sm-3 col-form-label nameLabel">Email:</label>
                                    <div class="col-sm-9">
                                        <input class="form-control baseLabel" id="signupEmail" name="signupEmail" type="email" placeholder="i.e. youremail@email.com" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="signupPassword" class="col-sm-3 col-form-label nameLabel">Password:</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input id="signupPassword" class="form-control baseLabel" name="signupPassword" type="password" placeholder="i.e. PW1234" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                <button type="submit" class="btn appButton">Create Account</button>
                                <!-- <a href="{{ url_for('homePage') }}" class="btn appButton">Create Account</a> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- signUp.html -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/login.js') }}"></script> -->
</body>
</html>