<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Readex+Pro&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <link rel="icon" href="./img/SalahBucks.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/baseStyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user2.css') }}">
    <title>Salah Bucks</title>
</head>
<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    .green-rectangle {
        width: 200px; /* Adjust the width as needed */
        height: 100px; /* Adjust the height as needed */
        background-color: green;
    }
</style>
<body>
<div class="overlay">
    <div class="container">

        <section id="customerNavbar">
            <nav class="navbar navbar-expand-lg border-bottom border-body bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand navbar-dark" href="{{ url_for('homePage') }}">
                        <img src="{{ url_for('static', filename='img/dollar-symbol.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav navbar-dark">
                            <a class="nav-link" href="{{ url_for('expense') }}" >Expenses</a> 
                            <a class="nav-link" href="{{ url_for('income') }}">Incomes</a>
                            <a class="nav-link" href="{{ url_for('budget') }}">Budgets</a>
                            <a class="nav-link" href="{{ url_for('user') }}">Settings</a>
                            <a id="logout" name="logout" class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </div>
                    </div>
                    

                </div>
            </nav>
        </section>
        
        <div class="container">
            <div class="user-settings" method="POST" action="{{ url_for('changePassword') }}">
              <h1>User Settings</h1>
              <div class="basic-info">
                <h2>Basic Information</h2>
                <p><strong>Username:</strong> {{ user_data.email }}</p>
                <p><strong>Email:</strong> {{ user_data.email }}</p>
              </div>
              <div class="change-password">
                <h2>Change Password</h2>
                <form id="changePassword">
                  <!-- Form fields -->
                    <label for="currentPassword">Current Password:</label>
                    <input type="password" id="currentPassword" name="currentPassword" required>

                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" required>

                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                    <button type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
<!-- <script type="module" src="{{ url_for('static', filename='js/homePage.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/logout.js') }}"></script>
</body>
</html>